/.idea
/.env
/error.log
/access.log
/config/database.php
/.gitignore
/vendor/
/node_modules/
/public/css/
/public/js/
!/public/css/admin/
!/public/js/admin/
/public/build/css/
/public/build/js/
/storage/app/public/
/storage/logs/
/public/tumar.crt
/public/tumar.key
/public/tumarr.crt
/public/tumarr.key
/public/build/rev-manifest.json
.DS-Store
